@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700&display=swap');
:root{
    --purple: rgb(136, 96, 208);
    --purple-l : rgba(136, 96, 208,0.8);
    --lavender: rgb(193, 200, 228);
    --light-blue: rgb(132, 206, 235);
    --blue: rgb(86, 128, 233);
    --mid-blue: rgb(90, 185, 234);
}
body{
    margin: 0;
}
.toolbar{
    background-color: var(--blue);
    width:auto;
    height: 65px;
    text-align: right;
    border: 12.5px;
    padding: 12.5px 50px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.t-button{
    background-color: var(--light-blue);
    border-radius: 3px;
    padding: 5px 15px;
    color: var(--blue);
    border: none;
    font-family: 'Sora', sans-serif;
    font-weight: 500 ;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px rgba(132, 206, 235, 0.4) ;
    transition: opacity 0.15s;
}
.t-button:hover{
    opacity: 0.8;
}
.t-button:active{
    opacity: 0.3;
}
.card{
    margin: auto;
    width: fit-content;
    background-color: var(--light-blue);
    box-shadow:  inset 0 0 60px rgba(86, 128, 233, 0.4);
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-weight: 600 ;
    padding: 50px 50px 100px;
    border-radius: 10px;
    box-sizing: border-box;
}
.container-ele{
    display: flex;
}
h1{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 24;
    text-align: left;
    color: var(--blue);
}
h2{
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 24;
    text-align: left;
    color: var(--blue);
}
.l-card{
    width: 237.5px;
    background-color: var(--blue);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    float:left;
    margin-right: 120px;
}
.image{
    width: 180px;
    margin-bottom: 30px;

}
.r-card{
    width: 237.5px;
    background-color: var(--blue);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    float:right;
}
.b-button{
    background-color: var(--purple-l);
    border-radius: 3px;
    padding: 5px 15px;
    color: white;
    border: none;
    margin-bottom: 30px;
    font-family: 'Sora', sans-serif;
    font-weight: 500 ;
    font-size: 20px;
    box-shadow: 3px 3px 3px 3px rgba(136, 96, 208,0.3); 
    transition: opacity 0.15s;
    width: 197.5px;
}
.b-button:hover{
    opacity: 0.8;
}
.b-button:active{
    opacity: 0.3;
}